* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image:linear-gradient(to bottom, #020024, #046f85);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  font-family: 'Eczar', serif;
  font-family: 'Archivo Narrow', sans-serif;
}

header {
  font-size: 15px;
  opacity: 0.8;
  font-family: 'Eczar', serif;
  font-family: 'Archivo Narrow', sans-serif;
}
.waviy {
  position: relative;
}
.waviy span {
  position: relative;
  display: inline-block;
  font-size: 40px;
  color: #fff;
  text-transform: uppercase;
  animation: flip 2s infinite;
  animation-delay: calc(0.2s * var(--i));
}
@keyframes flip {
  0%,
  80% {
    transform: rotateY(360deg);
  }
}

nav ul {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 200%;
  font-weight: 700;
}
nav li {
  list-style: none;
  display: block;
  margin-left: 2em;
  margin-right: 2em;
}
nav li {
  display: inline-block;
  padding: 5px 5px;
}
li:last-child a {
  margin-right: 0;
}

a {
  background-image: linear-gradient(
    to right,
    #54b3d6,
    #54b3d6 50%,
    #ffffff 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 10px 0;
  text-align: center;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.5s ease-in-out;
}

a:before {
  content: "";
  background: #54b3d6;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

a:hover {
  background-position: 0;
}

a:hover::before {
  width: 100%;
}
/* Mobile */
.container {
  padding: 4%;
  position: absolute;
  top: 0%;
}

/* Tablet */
@media (min-width: 600px) {
  .container {
    padding: 3%;
    position: absolute;
    top: 0%;
  }
}

/* Desktop */
@media (min-width: 900px) {
  .container {
    padding: 2%;
    position: absolute;
    top: 0%;
  }
}
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&family=Eczar:wght@400;500&display=swap');

